.before-login-container {
  background-color: #FFEEB5;
  height: calc(100vh - 140px); /* 헤더,푸터 제외 높이*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.before-login-content {
  text-align: center;
}

.before-login-content h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.before-login-content p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* (로그인, 회원가입) 공통 버튼 */
.common-btn{
  background-color: #ffd400;
  color: #333;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 16px;
  text-decoration: none;
  transition: background 0.2s;
  min-width: 100px;
  text-align: center;
}

.common-btn:hover{
  background-color: #e6c200;
}