/* 헤더 전체 */
.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  padding: 14px 40px;
  font-family: "Pretendard", sans-serif;
}

/* 로고 */
.logo {
  font-size: 20px;
  font-weight: 800;
  color: #333;
  cursor: pointer;
  transition: color 0.2s;
}

.logo:hover {
  color: #FFD400;
}

/* 메뉴 공통 */
.menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* 로그인 전 (비활성) */
.menu-btn{
  background: none;
  border: none;
  color: #9CA2AE;
  cursor: pointer;
}
.menu-btn:hover{
  color: yellow;
}

/* 로그인 후 (활성) */
.menu-btn.gray {
  background: none;
  border: none;
  color: #9CA2AE;
}

.menu-btn.gray:hover {
  color: #FFD400;
}

/* 프로필 아이콘 */
.user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}

.user-icon:hover {
  transform: scale(1.1);
}

/* 로그아웃 */
.logout {
  color: #888;
  text-decoration: none;
  font-weight: 500;
}

.logout:hover {
  color: #FFD400;
}
